---
import { defaultLang, useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Features from "../components/Features.astro";
import UseCases from "../components/UseCases.astro";
import MobileShowcase from "../components/MobileShowcase.astro";
import TechStack from "../components/TechStack.astro";
import Download from "../components/Download.astro";
import FAQ from "../components/FAQ.astro";
import Community from "../components/Community.astro";
import Footer from "../components/Footer.astro";

const lang = defaultLang;
const t = useTranslations(lang);
---

<Layout title="ReadAny - AI-Powered E-Book Reader">
  <Header lang={lang} t={t} />
  <main>
    <Hero t={t} />
    <HowItWorks t={t} />
    <Features t={t} />
    <UseCases t={t} />
    <MobileShowcase t={t} />
    <TechStack t={t} />
    <Download t={t} />
    <FAQ t={t} />
    <Community t={t} />
  </main>
  <Footer t={t} />
</Layout>
